html {
  font-size: 90%; 
}

body {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  color: #242b37;
  font-weight: 400;
 }

.main-container {
background-color: #fff;
}
/*---------------Contents div------*/

.heading {
    font-weight: 300;
}

.heading-2 {
    display: flex;
    flex-direction: column; 
    text-align: center;
    font-weight: 700;
}

.logo {
    padding: 3rem 0;
    height: 9rem;  
}

p {
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: relative; 
    text-align: center; 
    margin: 5%;
}
/*---------------color txt---------*/
.txt-white {
    color: rgb(255, 255, 255);
}
.txt-black {
    color:rgb(0, 0, 0);
}

/*---------------Buttons-----------*/

.btn {
 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #fff;
    padding: 2rem 5rem 2rem ;
    font-weight: 600;
    transition: all 0.6s;
    cursor: pointer;
    outline: none;
    font-family: "Spartan", sans-serif;
    margin-bottom: 15%;
   

}
.btn-one {
    border: 1px solid #fff;
 }
    .btn-one:hover {
      background-color: #fff;
      color: #111; }

.btn-two {
    border: 1px solid #111f;
    background-color: #111;
    margin: 20%;
    
}
    .btn-two:hover {
      background-color: rgb(100, 98, 98);
      color:  #fff;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    padding: 10px;
    bottom: 5; 
    border: 1px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 350px;
    padding: 10px;
    background-color: white;
    
  }
  
  /* Full-width input fields */
  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the book now button */
  .form-container .btnLogin {
    background-color: #688b69;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .btnClose {
    background-color: red;
    color: white;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btnClose:hover, .open-button:hover {
    opacity: 1;
  }

/*------------------------------------------------Intro Section------*/

.intro-image {
    display: flex;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    flex-direction: column;    
    align-items: center; 
}

.content-intro {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 10rem 1rem 0.2rem 1rem;
    margin: 40% 20% 15% 20%;

}
.intro-image a {
   margin-bottom: 40%;
}

/*------------------------------------------------Features Section---*/
.image-top {
margin-top: -60px;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem; 
    position: relative; 
    flex-direction: column;
    text-align: center;
}
.separator {
    margin-top: 10px;
    padding: 2rem 2rem; 
}

/*------------------------------------------------Menu - API Section-------*/
.highlights {
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem; 
    flex-direction: column;

}

/*------------------------------------------------Slideshow------*/
.slideshow-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
/*------------------------------------------------CTA Section--------*/
.cta-section {
    background-image: url("images/homepage/ready-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
}
.cta-container{
    display: flex;
    align-items: center;
    padding: 10rem 0rem; 
    flex-direction: column; 
    margin: 20% ;
}

/*------------------------------------------------Footer Section-----*/
footer {
    display: flex;
    align-items: center;
    flex-direction: column; 
    background-color: #111;
}
.footer-container {
    text-transform: uppercase;
}

.footer-col{
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}

/*------------------------------------------------Media Queries-----*/

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .main-container {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-container {
    width: 50%;
    margin: 0 10% 0 10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-container {
    width: 50%;
    margin: 0 25% 0 25%;
  }
}


